## 11.6 Printing Test Results

1. To print reports, you must first attach the laptop computer to the HP DeskJet 500 printer located in the Edentec room.
2. From the spirometry main menu, select **F1 Patient**.
3. Select **Get Patient Data** from the F1 Patient pull-down menu.
4. Page down to the appropriate patient and press **Enter**.
5. Next choose **F6 Review**.
6. Select **Select Previous Test** from the F6 Review pull-down menu.
7. You will be presented with a session list.  Select the desired session.  For our purposes, there should only be one session per patient, but if there is more than one, select the one with the desired date.
8. Press **Enter**.
9. Select **F4 Print**.
10. From the F4 Print pull-down menu, select **Side By Side Summaries**.
11. A box entitled Side By Side Summary Reports appears on the screen with Pre-BD Side-By-Side in the box.  Press **Enter**.
12. The printer will print the three best tests side by side.
13. When the report is finished printing, select **F4 Print** again.
14. From the F4 Print pull-down menu, select **Standard Reports**.
15. Press **Enter**.
16. A box with Standard Reports appears on the screen.  From this box, select **Both Flow – Volume and Volume-Time**.
17. Press **Enter**.
18. This is the Standard Report FVC screen and lists all of the tests according to rank.  Select the **Best Test** first.
19. Press **Enter**.
20. Continue until the three best tests are printed.
21. After printing all of the tests, press **Escape**.
22. Select another patient, or select **F5 File** to exit the program.
23. Type **Exit**. This will take you back to the Windows start menu. The computer may now be shut down


<div class="center">
<div class="btn-group">
  <a href=":pages_path:/manuals/spirometry/11-05-performing-test.md" class="btn btn-default">
    <span class="glyphicon glyphicon-chevron-left"></span>
    11.5 Performing the Test
  </a>

  <a href=":pages_path:/manuals/spirometry" class="btn btn-default">
    <span class="glyphicon glyphicon-chevron-up"></span>
    Spirometry
  </a>

  <a href=":pages_path:/manuals/spirometry/11-07-copying-files.md" class="btn btn-success">
    11.7 Copying Files
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
</div>
